
.bg_color1
  background-color: #CCE951

.bg_color2
  background-color:  #D7E5F1

.img56
  max-width: 56px

.height_1
  max-height: 89.16px

.height_2
  height: 232px

.tarjeta--boton 
    background-color: #CDDEED
.tarjeta--boton:hover
    background-color: #387DB8!important

.tarjeta.color-acento-contenido 
    background-color: #ECF7C0
.fa-check:before 
    color: #1DD1FF

.margin_left1
  margin-left: 7.6em
  margin-top: 25px
  @media screen and ( max-width: 420px )
    margin-left: 1.6em

.bloque-texto-b.color-secundario:before 
    background-color: #387DB8
    margin-top: -19px

.fa-quote-left:before 
    font-size: 25px
.fa-quote-right:before 
    font-size: 25px

.bg_tarjetas_t1
  background-image: url("../assets/curso/tema1/img06.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.tarjeta.color-acento-botones 
    background-color: #CCE951

.bg_slyder_t2
  background-color: #CDDEED

.bg_tarjetas_t2
  background-color: #CCE951
  border-radius: 10px
  height: 155px
  @media screen and ( max-width: 420px )
    height: 180px

.margin_b1
  margin-bottom: 4.5rem!important

.margin_t1
  margin-top: 50px

.cajon.color-acento-contenido 
    background-color: #ECF7C0
.cajon.color-acento-contenido:before 
    background-color: #CCE951
    width: 85px

.bloque-texto-g__texto 
  width: 68%
  @media screen and ( max-width: 420px )
    width: 100%

.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.svg")!important

